.back {
  margin-top: 2rem;
  background-color: var(--color-bg-secondary);
  width: 8rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-left: 2rem;
  border-radius: .5rem;
  box-shadow: 0rem 0rem 1rem var(--colorShadow);
  transition: .4s;
}

.back:hover{
  transform: scale(1.2);
  transition: .4s;
}